<div class="browse-page">
  <app-header></app-header>
  <div class="banner">
    <img
      class="banner-img"
      src="https://image.tmdb.org/t/p/w500/6CoRTJTmijhBLJTUNoVSUNxZMEI.jpg"
      alt=""
    />
    <div class="banner-movie-info">
      <h4>Movie title</h4>
      <p>description</p>
      <div>
        <button>Play</button>
        <button>More info</button>
      </div>
    </div>
  </div>

  <div class="movie-categories">
    <div class="movies">
      <div class="movie-card">
        <img
          src="https://image.tmdb.org/t/p/w500/6CoRTJTmijhBLJTUNoVSUNxZMEI.jpg"
          alt="movie image"
        />
        <h4>title</h4>
        <p>description</p>
      </div>
    </div>
  </div>
</div>
