<div class="browse-page">
  <app-header></app-header>
  <div class="banner">
    <img
      class="banner-img"
      [src]="tmdbConfig.imagePath + bannerMovie.poster_path"
      alt="banner image"
    />
    <div class="banner-movie-info">
      <h4 class="banner-heading">{{ bannerMovie.original_title }}</h4>
      <p class="banner-description">{{ bannerMovie.overview }}</p>
      <div class="banner-action">
        <button type="button" class="play-btn">Play</button>
        <button type="button" class="info-btn">More info</button>
      </div>
    </div>
  </div>

  <div class="movie-categories">
    <app-movie-category
      [title]="'Popular'"
      [movieList]="popularMovies"
    ></app-movie-category>
    <app-movie-category
      [title]="'Top Rated'"
      [movieList]="topRatedMovies"
    ></app-movie-category>
    <app-movie-category
      [title]="'Upcoming'"
      [movieList]="upcomingMovies"
    ></app-movie-category>
    <app-movie-category
      [title]="'Now Playing'"
      [movieList]="nowPlayingMovies"
    ></app-movie-category>
  </div>
</div>
